<div class="" style="background: url(<%= asset_path 'sunglowblob.svg' %>); background-position: left; background-size: contain; background-repeat: no-repeat; padding: 50px 0;">
  <h1 class="indigodyeblue-text">LE MENTORAT ?</h1>
</div>

<p>Contenu sur le mentorat</p>
