<div class="new-wish">
  <div class="new-wish-left px-5">
    <%= render 'wishes/new/content' %>
  </div>

  <div class="new-wish-right p-4 pt-5">
    <h2>Choisissez les ingrédients de votre parcours :</h2>
    <div class="new-wish-form pt-5">
      <%= render 'wishes/new/form', head_subjects: @head_subjects, body_subjects: @body_subjects %>
    </div>
  </div>
</div>




