<div class="new-mentee">
  <div class="new-mentee-left px-5">
    <%= render 'mentees/new/content' %>
  </div>

  <div class="new-mentee-right d-flex justify-content-center align-items-center p-4 flex-column">
    <h2>Merci, votre demande a bien été reçu !</h2>
    <p class="mt-4">Nous vous recontacterons par email ou téléphone au plus tôt aujourd'hui, au plus tard dans 48 heures.</p>
  </div>
</div>
