<div class="new-mentee">
  <div class="new-mentee-left px-5">
    <%= render 'mentees/new/content' %>
  </div>

  <div class="new-mentee-right p-4 pt-5">
    <h2>Nos critères de match :</h2>
    <div class="new-mentee-form pt-5">
      <%= render 'mentees/new/form' %>
    </div>
  </div>
</div>
