.backgroundcolor-grey {
  background-color: $grey;
}

.backgroundcolor-isabelline {
  background-color: $isabelline;
}

.backgroundcolor-japaneseindigo {
  background-color: $japanese-indigo;
}

.backgroundcolor-white {
  background-color: white;
}
