.backgroundcolor-grey {
  background-color: $grey;
}

.backgroundcolor-isabelline {
  background-color: $isabelline;
}

.backgroundcolor-japaneseindigo {
  background-color: $japanese-indigo;
}

.backgroundcolor-lightgray {
  background-color: $light-gray;
}

.backgroundcolor-sunglow {
  background-color: $sunglow;
}

.backgroundcolor-white {
  background-color: white;
}
