.btn-sunglow {
  background-color: $sunglow;
  opacity: 80%;
  width: 200px;
  padding: 20px 0;
  font-weight: 500;
  color: white;
}



.button-indigodye {
  background-color: $indigo-dye;
  padding: 20px 25px;
  font-weight: 500;
  color: white;
  width: max-content;
  &:hover {
    opacity: 0.8;
    color: white;
  }
}

.button-small-indigodye {
  background-color: $indigo-dye;
  padding: 10px 15px;
  font-weight: 500;
  color: white;
  width: max-content;
  &:hover {
    opacity: 0.8;
    color: white;
  }
}
