// FORM / Organiser son parcours

.wish_tracks {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 20px 0;
}


.wish_track {
  background: $sunglow;
  padding: 20px;
  border-radius: 5px;
  opacity: .4;
  flex: 0 0 30%;
  text-align: center;
  color: white;
  &:hover {
    opacity: 1;
    cursor: pointer;
  }
  &.active {
  background: $sunglow;
  color: white;
  opacity: 1;
  }
}

.new-wish-form-others {
  label {
    color: $sunglow;
    margin-bottom: 0;
  }

  input {
    border: 0px;
    border-radius: 0px;
    border-bottom: 1px solid $pastel-gray;
  }
}

.admin_courses_teacher input {
  width: 400px !important;
}

.admin_courses_subject input {
  width: 400px !important;
}

.admin_courses_schedule input {
  width: 400px !important;
}

.admin_courses_location input {
  width: 400px !important;
}
.admin_courses_capacity input {
  width: 400px !important;
}

.label_admin {

 font-family: "Work Sans", "Helvetica", "sans-serif";
     font-weight: bold !important;
    color: $grey;
}

.panel h5 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: $grey;
    border-bottom: solid $grey 1px;
    margin-bottom: 20px;
}








.form-login {
  background: white;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px
  }
}
