.height-calc100vhneg63px {
  height: calc(100vh - 63px);
}

.height-10vh {
    height: 10vh;
}
.height-25vh {
  height: 25vh;
}

.height-35vh {
  height: 35vh;
}

.height-45vh {
  height: 45vh;
}

.height-50vh {
  height: 50vh;
}

.height-80vh {
  height: 80vh;
}

.height-100vh {
  height: 100vh;
}

.height-50px {
  height: 50px;
}

.height-70px {
  height: 70px;
}

.height-79px {
  height: 79px;
}

.height-100px {
  height: 100px;
}

.height-150px {
  height: 150px;
}

.height-200px {
  height: 200px;
}

.height-400px {
  height: 400px;
}

.height-450px {
  height: 450px;
}

.height-85px {
    height: 85px;
}
