.marginbottom-neg35px {
  margin-bottom: -35px;
}

.marginleft-neg20px {
  margin-left: -20px;
}

.marginleft-15px {
  margin-left: 15px;
}

.margintop-neg2pc {
  margin-top: -2%;
}

.margintop-15px {
  margin-top: 15px;
}

.margintop-150px {
  margin-top: 150px;
}


.padding-0 {
  padding: 0 !important;
}

.paddingleft-100px {
  padding-left: 100px !important;
}

.paddingleft-300px {
  padding-left: 300px !important;
}


.paddingright-100px {
  padding-right: 100px !important;
}

.paddingright-150px {
  padding-right: 150px !important;
}

