.navbar-lewagon {
  background: $light-gray;
  height: 63px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 70px;
}

.nav-link {
  font-size: 16px;
}

.navbar-left {
    width: 40%;
}

.navbar-right {
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;

  .top-menu {
      width: 636px;
      height: 100%;
      margin: 0px;
      padding: 0;

    .navbar-first-btn {
      border: none;
      background-color: #2653AF;
      width: 50%;
      margin: 0;

      .nav-link-button-first {
        background-color: #2653AF;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 16px;
        font-weight:  500;
        text-align: center;
      }

      &:hover {
        opacity: 0.5;
      }
    }

    .navbar-second-btn {
      border: none;
      background-color: $sunglow;
      width: 50%;
      padding: 19px;

      .nav-link-button-second {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 16px;
        font-weight:  500;
        text-align: center;
      }

      &:hover {
        opacity: 0.5;
      }
    }
  }
}



// .navbar-second-btn:hover {
//    background-color: $grey !important;
// }


.navbar-second-btn-active {
  border: none;
  background-color: $grey;
  width: 50%;
  padding: 19px;

  .nav-link-button-second {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight:  500;
    text-align: center;
  }

}

.navbar-first-btn-active {
  border: none;
  background-color: $grey;
  width: 50%;
  padding: 19px;

  .nav-link-button-first {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight:  500;
    text-align: center;
  }

}






