<div class="dashboard-admin d-flex">
  <%= render 'admin/shared/sidenav' %>

  <div class="dashboard-content col-sm-10 p-4 backgroundcolor-isabelline">
    <%= render 'admin/dashboards/index/content' %>
  </div>
</div>

