<div class="dashboard-navbar col-sm-2 backgroundcolor-japaneseindigo color-white p-4">
  <%= link_to admin_root_path, class: "clean-link color-white-with-hover-white" do %>
    <h6>Dashboard</h6>
  <% end %>
  <%= link_to admin_wishes_path, class: "clean-link color-white-with-hover-white" do %>
    <h6>Tracks</h6>
  <% end %>
  <%= link_to admin_courses_path, class: "clean-link color-white-with-hover-white" do %>
    <h6>Cours & Classes</h6>
  <% end %>
  <%= link_to admin_courses_path, class: "clean-link color-white-with-hover-white" do %>
    <h6>Conférences & Ateliers</h6>
  <% end %>
</div>
